* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.padded {
    padding: 5%;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    border: 6px solid white;
    border-radius: 15px;
}

h3 {
    color: white;
    font-size: 2.6rem;
    font-weight: bold;
}
.score{
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #0a0001;
    border-radius: 10px;
    color: #F94F6D;
    font-size: 5.5rem;
    width: 150px;
    margin: 1.5rem;
    line-height: 120px;
    height: 120px;
}

span{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: inherit;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    padding: 0.5rem;
}
button:hover {
    background-color: #5f6680;
}
