* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: Verdana, sans-serif;
    text-align: center;
}

[class*="col-"] {
    margin: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 650px;
    height: 450px;
    align-items: center;
    justify-content: center;
    background-color: #1B244A;
    border: 6px solid white;
    border-radius: 15px;
}

.padded {
    padding: 5%;
}
.center {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
h2 {
    font-family: 'Cursed Timer ULiL', sans-serif;
    text-align: center;
    color: #F94F6D;
    font-size: 5.5rem;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}
h3 {
    color: white;
    font-size: 2.6rem;
    font-weight: bold;
}
.score{
    background-color: #0a0001;
    border-radius: 10px;
    width: 150px;
    margin: 1.5rem;
    line-height: 120px;
    height: 120px;
    line-height: 120px;
    /* display: flex;
    justify-content: center; */
}

span{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

button {
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: inherit;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    padding: 0.5rem;
}
button:hover {
    background-color: #5f6680;
}

@media (max-width: 700px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 450px;
        height: 500px;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .score {
        height: 80px;
    }
}